$black: black;
$red: rgb(255, 67, 67);
$gray: #e0e0e0;

:root {
  --height-header: 80px;
}

html {
  font-size: 10px;
  scroll-padding-top: var(--height-header);
}

body {
  font: 2rem "Kumbh Sans", sans-serif;
  color: $black;
  margin-bottom: 0;
}

@media (max-width: 900px) and (min-width: 700px) {
  #header #nav-bar ul li {
    float: none !important;
  }

  :root {
    --height-header: 120px;
  }
}

@media (max-width: 700px) and (min-width: 400px) {
  :root {
    --height-header: 130px;
  }
}

@media (max-width: 700px) {
  #header {
    flex-direction: column;
    justify-content: space-evenly !important;

    #header-img {
      margin-left: 0 !important;
      margin-top: 1rem;
    }

    #nav-bar {
      margin-right: 0 !important;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 400px) {
  :root {
    --height-header: 180px;
  }

  #header #header-img {
    max-width: 100% !important;
  }

  #header #nav-bar ul li {
    float: none !important;
  }

  main #pricing .wrapper {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 850px) and (min-width: 400px) {
  main #pricing .wrapper {
    grid-template-columns: 300px !important;
  }
}

@media (max-width: 500px) {
  main #features .wrapper {
    grid-template-columns: 1fr !important;

    .icon {
      display: none !important;
    }

    .title,
    p {
      text-align: center;
    }
  }
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $red;
  height: var(--height-header);

  #header-img {
    max-width: 40rem;
    margin-left: 5rem;
  }

  #nav-bar {
    margin-right: 2rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin: 1rem 2rem;

        a {
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  margin-top: var(--height-header);

  #form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;

    h1 {
      text-align: center;
    }

    #form {
      display: flex;
      flex-direction: column;
      align-items: center;

      #email {
        width: 27rem;
        height: 2.5rem;
        font-size: 1.7rem;
        margin: 2rem;
      }

      #submit {
        width: 18rem;
        font-size: 2rem;
        padding: 1rem;
        background-color: $red;
        font-size: 2rem;
        border: 0;
        border-radius: 0.5rem;
      }
    }
  }

  #features {
    display: flex;
    justify-content: center;
    padding: 5rem 0;

    .wrapper {
      display: grid;
      grid-template-columns: 15rem 1fr;
      width: 100rem;
      gap: 5rem;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $red;
      }

      .title {
        font-weight: bold;
        margin: 1rem 0;
      }

      p {
        font-size: 1.5rem;
        margin: 0;
      }
    }
  }

  #how-it-works {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }

  #pricing {
    display: flex;
    justify-content: center;
    padding: 5rem 0;

    .wrapper {
      width: 100rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      justify-content: center;
      .accordion-box {
        border: 0.3rem solid $black;
        border-radius: 0.2rem;
        display: flex;
        flex-direction: column;

        .title {
          background-color: $gray;
          text-align: center;
          padding: 2rem;
          font-size: 1.7rem;
        }

        .price {
          text-align: center;
          padding: 2.5rem;
          font-weight: bold;
          font-size: 2.5rem;
        }

        .desc {
          font-size: 1.5rem;

          p {
            text-align: center;
          }
        }

        .select {
          padding: 1rem;
          background-color: $red;
          font-size: 2rem;
          border: 0;
          border-radius: 0.5rem;
          margin: 2rem;
        }
      }
    }
  }
}

footer {
  background-color: $gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
  max-width: 100rem;
  margin: 0 auto;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.7rem;

    li {
      float: left;
      margin: 0 1rem;

      a {
        color: $black;
        text-decoration: none;
      }
    }
  }
  .copyright {
    margin: 0.5rem 0 0 0;
    font-size: 1.4rem;
    color: rgb(73, 73, 73);
  }
}
